.sites {
  padding-top: 64px;
  width: 800px;
  max-width: 90vw;
  margin: 0 auto;

  .sites-container {
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
    align-items: flex-start;
  }
}
