@font-face {
  font-family: "ShareTechMono";
  src: url("./ShareTechMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.time-container {
  color: #fff;
  font-family: "ShareTechMono", sans-serif;
  box-sizing: content-box;
  padding-bottom: 18px;
  text-align: center;
  .content {
    height: 94px;
    line-height: 94px;
    font-size: 86px;
  }
  .sub-content {
    font-size: 18px;
  }
}
