.slider {
  display: inline-flex;
  flex-direction: column;

  > .semi-slider {
    padding-left: 0;
    padding-right: 0;
  }

  > .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    > .semi-button {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &.mini {
    flex-direction: row;
    gap: 8px;
    align-items: center;

    > .semi-slider {
      flex-grow: 1;
      flex-shrink: 1;
    }

    > .semi-button {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}
