.setting-drawer {
  .semi-sidesheet-header {
    padding-bottom: 0;
  }

  .semi-sidesheet-inner {
    width: 600px;
    max-width: calc(100vw - 32px);
  }

  .semi-tabs-content {
    padding: 16px 0;
  }

  .setting-list {
    .semi-list-item {
      padding-left: 4px;
      padding-right: 4px;

      &:first-child {
        padding-top: 0;
      }
    }
    .list-item {
      .title {
        display: block;
        font-weight: bold;
      }
      .content {
        font-size: 12px;
      }
    }
  }
}
