.site-edit-form {
  .form-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .site-icon-container {
      width: 64px;
      height: 64px;
      justify-content: center;
      align-items: center;
      display: flex;
      box-sizing: border-box;

      &.auto {
        padding: 6.4px;
      }

      > img {
        width: 100%;
      }
    }

    .semi-colorPicker-popover-defaultChildren {
      border: 2px solid var(--semi-color-border);
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.semi-colorPicker-popover {
  padding: 16px;
}
