.site-edit-form {
  .form-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .site-icon {
      width: 48px;
      flex: 0;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
